@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Livraria MVC</h1>
    <p>
        <img src="~/img/jhonnywalker.png" width="50" />
        <br />
        <i>Keep reading</i>
    </p>
</div>
