@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Aula Razor - Tabuada</title>
</head>
<body>
    <div>
        <h1>Aula Razor - Tabuada</h1>
        @RenderPage("Titulo.cshtml")
        <form>
            <label>Digite um algarismo de 1 a 9:</label>
            <input type="number" name="algarismo" value="@(Request["algarismo"] ?? "1")" min="1" max="9" step="1" />
            <button type="submit">Vai, minino!</button>

            @{
                int algarismo = Convert.ToInt32(Request["algarismo"]);

                if (algarismo > 0)
                {
                    for (int i = 1; i <= 10; i++)
                    {
                        <p>@algarismo x @i = <b>@(algarismo * i)</b></p>
                    }
                }
            }
        </form>
        @RenderPage("Rodape.cshtml")
    </div>
</body>
</html>
