@{
    ViewData["Title"] = "Cadastrar Usuário";
}

<partial name="_alertConfirm" />

<div class="text-center">
    <h1 class="display-4">Cadastrar Usuário</h1>
</div>

<form method="post">
    <partial name="_form" />

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary ">
            Cadastrar Usuário
        </button>
        <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
    </div>
</form>
