@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        <h1 class="netflix-logo-like mt-5 mb-5">MESTREFLIX</h1>
    </div>
    <h5 class="text-muted mt-5">
        <button class="btn btn-outline-light btn-lg" onclick="playNetflixSound()">♫ Tu-Dummm</button>
    </h5>
</div>