@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        <h1 class="netflix-logo-like mt-5 mb-5">MESTREFLIX</h1>
    </div>
    <button class="btn btn-outline-light btn-lg mt-5" onclick="playNetflixSound('@TempData["baseUri"]')">♫ Tu-Dummm</button>
</div>