<iframe id="ytplayer" type="text/html" width="800" height="450"
        src="https://www.youtube.com/embed/6Jg_rkKtJgo?autoplay=1"
        frameborder="0" allowfullscreen></iframe>
<div>
    <a asp-action="Index">Voltar</a>
</div>
