html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.netflix-logo-like {
    font-family: sans-serif;
    color: #d02424;
    font-stretch: condensed;
    font-weight: bold;
}
