html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.netflix-logo-like {
    font-family: sans-serif;
    color: #d02424;
    font-stretch: condensed;
    font-weight: bold;
}

/* Identity CSS */

#account a, #change-password-form a, #email-form a, #profile-form a, #registerForm a {
    color: lightslategray;
}

#account input, #change-password-form input, #email-form input, #profile-form input, #registerForm input {
    background-color: darkslategrey;
    color: white;
}
