html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.netflix-logo-like {
    font-family: sans-serif;
    color: #d02424;
    font-stretch: condensed;
    font-weight: bold;
}

/* Vídeo play */

.video-container {
    position: relative;
    width: 60%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.play-button:hover {
    cursor: pointer;
}

.video-container:hover .image {
    opacity: 0.3;
    cursor: pointer;
}

.video-container:hover .middle {
    opacity: 1;
}

.video-container:active {
    opacity: 0.85;
}

/* Identity CSS */
#account a, #change-password-form a, #email-form a, #profile-form a, #registerForm a {
    color: lightslategray;
}

#account input, #change-password-form input, #email-form input, #profile-form input, #registerForm input {
    background-color: darkslategrey;
    color: white;
}
