@{
    Layout = null;
}

@using Lab01.App;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Estilo.css" rel="stylesheet" />
</head>
<body>
    <div>
        <header>
            <h1>Exemplo Web Page</h1>
            <h2>Html, Javascript, Css, Razor e Web Pages</h2>
            <a href="~/Default.cshtml">Voltar</a>
        </header>
        <section>
            <p>Comentários:</p>
            <pre>
                @WebApp.ComentariosObter()
            </pre>
        </section>
    </div>
</body>
</html>
